/target/
/.venv*/
__pycache__/
*.pyc
/.ruff_cache/
/results/experiments/
/results/*.npy
/results/**/*.bin
/results/**/*.npy
/results/kernels/input.json
/results/kernels/output.json
/results/kernels/*-output.json

/results/tensor-parallel/fixtures/

/results/tensor-parallel/kernels/input.json
/results/tensor-parallel/kernels/output.json
/results/tensor-parallel/kernels/*-output.json
